.pc-home {
  &__header {
    margin-bottom: 2rem;

    &__title {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 3rem;
      font-weight: 500;
    }

    &__create {
      float: right;
    }
  }
}